@font-face {
  font-family: Vazir;
  src: url('./fonts/Vazir.eot');
  src: url('./fonts/Vazir.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Vazir.woff') format('woff'),
  url('./fonts/Vazir.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Vazir;
  src: url('./fonts/Vazir-Bold.eot');
  src: url('./fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Vazir-Bold.woff') format('woff'),
  url('./fonts/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Vazir;
  src: url('./fonts/Vazir-Light.eot');
  src: url('./fonts/Vazir-Light.eot?#iefix') format('embedded-opentype'),
  url('./fonts/Vazir-Light.woff') format('woff'),
  url('./fonts/Vazir-Light.ttf') format('truetype');
  font-weight: 300;
}

body {
  font-family: 'Vazir', Tahoma, Arial, sans-serif;
}

.nav {
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .navbar-left {
    margin-left: 10px;
    margin-right: 25px;
  }
}

.logo {
  height: 100%;
}

.spinner {
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  position: fixed;
}